main {
  /* container for hero section, about section, and people section */

}


/*

hero/landing section

*/
.hero-section {
  min-height: 95vh; /* this may cause some issues on mobile */
  padding: 0 4em;
  background-image: linear-gradient(to bottom right, var(--bgl), var(--bgd));
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;


}
.hero-content p {
  max-width: 225px;
  margin: 2em 0;
}
.learn-more-btn {
  color: white;
}
.hero-img {
  width: 55em;
  margin-right: 4em;
}
.hero-img-mbl {
  display: none;
  width: 10em;
  right: 0;
  position: absolute;

}

/*

about section

*/
.about-section {
  min-height: 90vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  padding: 0 14em 0 4em;
}
.about-content {
  max-width: 480px;
  margin-left: 4em;
}
.about-content p {
  margin: 2em 0;
}
.about-img {
  width: 40em;
  margin-right: 4em
}
.about-img img {
  width: 100%;
  height: auto;
}
/*

people section

*/
.people-section {
  min-height: 90vh;
  background-image: linear-gradient(to bottom right, var(--bgl), var(--bgd));
  color: white;
  padding: 0 0 8em 0;
}
.people-section h2 {
  text-align: center;
  padding: 2em 0 0 0;
}
.people-container {
  display: flex;
  justify-content: center;
  padding: 8em 4em;
}
.person {
  min-width: 400px;
  min-height: 500px;
  margin: 0 4em;
  background-color: white;
  position: relative;
  color: black;
  text-align: center;
  padding: 0 0 4em 0;
}
.person-background-elem {
  position: absolute;
  background-color: var(--purple);
  width: 100%;
  height: 100%;
  left: -2em;
  top: -2em;
}
.person-content {
  position: absolute;
  background-color: white;
  min-height: 100%;
}
.person img {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}

/* reverse the image on the left */
.person:nth-child(1) img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* move the background element to the opposite corner for the image on the right */
.person:nth-child(2) .person-background-elem {
  top: 2em;
  left: 2em;

}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 500px;
}

input, textarea {
  font-size: 1em;
  font-family: acumin-pro-semi-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 1em 1em;
  border-radius: 0;
  width: 100%;
  margin: 1em 0;
  border: 3px solid var(--purple);
  background-image: linear-gradient(to bottom right, var(--bgl), var(--bgd));
  color: white;
}
::placeholder {
  color: white;
  opacity: 0.6;
}
form button {
  background-image: linear-gradient(to bottom right, var(--bgl), var(--bgd));
  border: 3px solid var(--purple);
  background-color: transparent;
  font-size: 1em;
  font-family: acumin-pro-semi-condensed, sans-serif;
  font-weight: 800;
  font-style: normal;
  outline: none;
  padding: 1em 4em;
  color: white;
  margin: 1em 0;
  cursor: pointer;
}


@media screen and (max-width: 1000px) {
  h1 {
    font-size: 3em;
  }
  .hero-img {
    display: none;
  }
  .hero-img-mbl {
    display: block;
  }
  .hero-section {
    padding: 0 2em;
    position: relative;
    justify-content: space-between;
  }
  .people-section {
    padding-bottom: 0;
  }
  .person-background-elem {
    display: none;
  }
  .person {
    min-width: 0;
    min-height: 0;
    margin: 0;
    margin-bottom: 4em;
    background-color: transparent;
    color: white;
  }
  .person img {
    width: calc(100% - 10px);
  }
  .people-container {
    flex-direction: column;
    padding: 0;
    padding: 8em 2em 4em 2em;
  }
  .person-content {
    position: static;
    background-color: transparent;

  }
  .person-content img {
    border: 5px solid var(--purple);
  }
  .about-section {
    padding: 0 2em;
    display: block;
    position: relative;
  }
  .about-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }
  .about-content p {
    width: 480px;
    max-width: 90%;
    text-align: center;

  }
  .about-section h2 {
    padding: 2em 0 0 0;
    text-align: center;
  }
  .about-content a {
    align-self: center;
    margin-bottom: 4em;
  }
  .about-img {
    max-width: 100%;
    padding-bottom: 8em;
  }
  input, textarea {
    width: 80%;
  }

}
