main {
  /* container for hero section, about section, and people section */

}


/*

hero/landing section

*/
.hero-section {
  min-height: 100vh; /* this may cause some issues on mobile */
  padding: 0 4em;
  background-image: url(images/LandingBackground.svg);
  background-size: cover;
  background-color: var(--bgl);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hero-content {
  margin: 12rem 0 6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;


}
.hero-content p {
  max-width: 500px;
  margin: 2em 0;
}
.hero-content p span {
  font-weight: 700;
  font-style: italic;
}
.about-content p span {
  font-weight: 700;
  font-style: italic;
}
.learn-more-btn {
  color: white;
}
.hero-img {
  width: 55em;
  margin-right: 4em;
  margin-bottom: -8rem;
}
.hero-img img {
  width: 100%;
  height: auto;
}
.hero-img-mbl {
  display: none;
  width: 10em;
  right: 0;
  position: absolute;

}

/*

about section

*/
.about-section {
  min-height: 80vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 0 4em;
  flex-wrap: wrap;
}
.about-content {
  max-width: 600px; /*500px*/
  margin-left: 4em;  
}
.about-content p {
  margin: 2em 0;
}
.about-img {
  width: 30em; /*40em*/
  margin-right: 4em
}
.about-img img {
  width: 100%;
  height: auto;
}
/*

people section

*/
.people-section {
  min-height: 90vh;
  background-image: url(images/LandingBackground.svg);
  background-color: var(--bgl);
  color: white;
  padding: 0 0 8em 0;
  background-size: cover;
}
.people-section h2 {
  text-align: center;
  padding: 2em 0 0 0;
}
.people-container {
  display: flex;
  justify-content: center;
  padding: 8em 4em;
  flex-wrap: wrap;
}
.person {
  min-width: 400px;
  min-height: 500px;
  margin: 0 4em;
  background-color: white;
  position: relative;
  color: black;
  text-align: center;
  padding: 0 0 4em 0;
}
.person-background-elem {
  position: absolute;
  background-color: var(--purple);
  width: 100%;
  height: 100%;
  left: -2em;
  top: -2em;
}
.person-content {
  position: absolute;
  background-color: white;
  min-height: 100%;
}
.person img {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}

/* reverse the image on the left */
.person:nth-child(1) img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* move the background element to the opposite corner for the image on the right */
.person:nth-child(2) .person-background-elem {
  top: 2em;
  left: 2em;

}
@media screen and (max-width: 1400px) {
  .hero-section {
  }
  .about-section {
    padding: 8rem 4em;
    min-height: 0;
  }
  .person {
    min-width: auto;
    min-height: auto;
    width: 400px;
    max-width: 100vw;
    margin: 0 2rem 8rem;
  }
  .person-content {
    position: static;
  }
  .hero-img {
    margin-right: 0;
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: none;
  }
  .about-img {
    display: none;
  }
  .about-content {
    margin-left: 0;
  }
  .people-section {
    padding: 0;
  }
  .people-section h2 {
    padding: 12rem 0 8rem;
  }
  .person-background-elem {
    display: none;
  }
  .people-container {
    padding: 0 0 4rem;
  }

}
/*@media screen and (max-width: 1400px) {
  .about-img {
    display: none;
  }
  .hero-img {
    margin-right: 0;
  }
  .person {
    margin-bottom: 8rem;
  }
}
@media screen and (max-width: 800px) {
  .hero-section {
    padding: 0;
  }
  hero-content {
    text-align: center;
  }
 
}


/*@media screen and (max-width: 690px) {
  h1 {
    font-size: 3em;
  }
  .hero-img {
    display: none;
  }
  .hero-img-mbl {
    display: block;
  }
  .hero-section {
    padding: 0 2em;
    position: relative;
    justify-content: space-between;
  }
  .people-section {
    padding-bottom: 0;
  }
  .person-background-elem {
    display: none;
  }
  .person {
    min-width: 0;
    min-height: 0;
    margin: 0;
    margin-bottom: 4em;
    background-color: transparent;
    color: white;
  }
  .person img {
    width: calc(100% - 10px);
  }
  .people-container {
    flex-direction: column;
    padding: 0;
    padding: 8em 2em 4em 2em;
  }
  .person-content {
    position: static;
    background-color: transparent;

  }
  .person-content img {
    border: 5px solid var(--purple);
  }
  .about-section {
    padding: 0 2em;
    display: block;
    position: relative;
  }
  .about-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }
  .about-content p {
    width: 480px;
    max-width: 90%;
    text-align: center;

  }
  .about-section h2 {
    padding: 2em 0 0 0;
    text-align: center;
  }
  .about-content a {
    align-self: center;
    margin-bottom: 4em;
  }
  .about-img {
    max-width: 100%;
    padding-bottom: 8em;
    display: block;
  }

}
