main {
    background: var(--bg);
    min-height: 100vh;
    color: white;
}
.hero-section {
    padding: 12rem var(--outerMargin);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.hero-content {
    margin: 0 0 8rem;
}
.hero-content p {
    margin: 1rem 0 2rem;
}
.hero-content p span {
    font-weight: 700;
    margin: 0.5rem 0 0 0;
    display: block;
    font-style: italic;
    font-size: 1.05rem;
}
.hero-content a {
    display: inline-block;
}
.hero-section img {
    height: auto;
    margin: 0 0 0 auto;
}
/*

ABOUT SECTION STYLES

*/
.about-section {
    padding: 6rem var(--outerMargin) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-container {
    display: flex;
    justify-content: center;
    padding: 16rem 0 0 0;
    flex-wrap: wrap;
}
.card {
    color: black;
    background-color: var(--bg2);
    padding: 12rem calc(var(--outerMargin) / 2) calc(var(--outerMargin) / 2) calc(var(--outerMargin) / 2);
    max-width: 300px;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16rem;
    margin: 0 2rem 16rem 2rem;
}
.card h3 {
    margin: 0 0 2rem;
}

.card .illustration {
    position: absolute;
}
#grow-illustration {
    top: -40%;
}
#step-illustration {
    top: -32.5%;
}
#nebula-illustration {
    top: -42.5%;
    transform: scale(1.02);
}
/*

RESPONSIVITY

*/
@media screen and (max-width: 700px) {
    .card {
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 1000px) {
    .card {
        padding-bottom: 4rem;
    }
}
/*Fix the landing illustration*/
@media screen and (max-width: 1610px) {
    .hero-section img {
        width: 800px;
    }
}
@media screen and (max-width: 1425px) {
    .hero-section img {
        width: 700px;
    }
}
@media screen and (max-width: 1325px) {
    .hero-section img {
        width: 600px;
    }
    .hero-section {
        padding-bottom: 8rem;
    }

}
@media screen and (max-width: 1225px) {
    .hero-section img {
        width: 500px;
        position: absolute;
        right:var(--outerMargin);
    }
    .hero-wrapper {
        width:100%;

    }
    .hero-content {
        width:100%;
    }
}
@media screen and (max-width: 820px) {
    .hero-wrapper {
        position:relative;
    }
    .hero-section img {
        position:absolute;
        width: 80%;
        right: 10%;
        bottom: -30%;
    }
    .hero-content {
        position: relative;
        left: 8%;
        width: auto;
    }
    .hero-section {
        padding-bottom: 16rem;
    }
}
@media screen and (max-width: 550px) {
    .hero-content {
        left: 0%;
    }
    .card img {
        transform: scale(0.9);
    }
    .hero-section img {
        width: 100%;
        right: 0;
    } 
}
@media screen and (max-width: 380px) {
    :root {
        font-size: 16px;
    }
    .hamburger {
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: 0;
    }
    .l1 {
        font-size: 2.5rem;
    }
    .hero-content br {
        display: none;
    }
}

